*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 100vh;
    font-family: "Poppins" , sans-serif;
    min-height: 100vh ;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
header{
    font-size: 1.5rem ;
    font-family: "Poppins" , sans-serif;

}
header ,  form {
    min-width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin: 50px 0 ;
}
form input  , form button{
    padding: .5rem;
    font-size: 2rem;
    border : none ; 
    background-color: white;
}
form button {
    cursor: pointer;
    color: #0093E9; 
    transition: all .2s ease-in-out;
}
form button:hover{
    color: white;
    background-color: #0093E9; 
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;   
}
.container ul{
    list-style: none;
    font-size: 1.3rem;
    min-width: 40%;
}
.container ul .div-item{
    display: flex;
    justify-content:space-between;
    background-color: white;
    margin: 2px 0;
    transition: all .5s ease-in-out;
    
}
.container ul .div-item li {
    flex: 1;
   padding: 1rem .5rem;
    
}
.container ul .div-item .checkbtn ,.container ul .div-item .trashBtn{
    border:none ; 
    cursor: pointer;
    background-color: white;
    color: white;
    padding: 1rem;
    font-size: 1rem;
} 
.container ul .div-item .checkbtn {
    background-color: #32CD32;
    margin-right: 2px;
}
.container ul .div-item .trashBtn{
    background: #ff6f47;
}
.fa-check , .fa-trash{
    pointer-events: none;
}
.compelete{
    opacity: .5;
    text-decoration: line-through;
}
.fall{
    transform:translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
select {
    appearance: none;
    box-shadow: none;
    outline: none;
    border : none ; 
    width: 8rem;
    cursor: pointer;
    padding: 1rem;
    color: #0093E9;
}
.select{
    margin-left: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.select::after{
    content : "\25BC" ;
    position: absolute;
    right : 0 ; 
    top : -4px ; 
   
    z-index: 1 ;
    color: #0093E9;
    padding: 1rem;
    pointer-events: none;
    

}